doctype html
html(lang='en')
  head
    title= title
    //- include ./meta

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
  body
    main
      block content
